<div class="container_page_blog">

<p class="pitch_blog">Pour voir et lire comment les artistes s'approprient la rue, pour découvrir nos incroyables histoires de rencontres entre un artiste et leur public, des rencontres qui pourraient être les vôtres...venez donc visiter <a href="#" class="link_to_blog">notre blog</a> ! Bonne lecture ;-)</p>

</div>