<h1>C'est quoi?</h1>
<p>Art Street Home, c'est une nouvelle manière de vivre les arts de rue.
Ils permettent à des artistes de rue d'avoir une relation plus intimiste avec leur public, et de se faire connaître petit à petit par des gens qui vont vraiment s'intéresser à eux. Ces concerts permettent également aux hôtes invitant de découvrir des artistes talentueux, souvent locaux, et de partager entre amis un moment extra-ordinaire…</p>

<h2>Organiser un événement extra-ordinanire avec un artiste de rue</h2>

<p>
1 - TROUVEZ UN ARTISTE QUI VOUS PLAIT
Vous avez rencontré un artiste de rue dans le métro et chercher à le convier pour un concert privé chez vous. Recherchez dans votre ville les artistes correspondant à vos goûts musicaux, à vos éventuelles contraintes (petit appartement, voisins difficiles, dates précises…).
</p>

<p>
2 - FIXEZ UNE DATE
Un artiste vous plaît, envoyez-lui une demande de contact en précisant vos dates de disponibilité.
</p>

<p>
3 - DÉFINISSEZ LES CONDITIONS
Clarifiez dès le départ les conditions du concert. L'artiste joue-t-il au chapeau ou demande-t-il un forfait ? A quelle heure arrive-t-il et commence-t-il à jouer ?
</p>

<p>
4 - PAYEZ
Réglez le forfait du musicien ou les frais de mise en relation (si au chapeau)
</p>
<p>
5 - INVITEZ VOS AMIS

Le groupe vient souvent jouer pour se faire connaître et gagner un peu d'argent. Jouez vous aussi le jeu en invitant un max d'amis (en plus ça met de l'ambiance) et en leur expliquant à l'avance le concept !
</p>
<p>
6 - PROFITEZ !
Les bières sont ouvertes ? Les cacahuètes salées à souhait ? Réduisez les lumières, fermez les rideaux, et laissez-vous porter !!
</p>
