<h1>Pour nous contacter</h1>
<p>Découvrez l'équipe dérriere ce site et échanger avec nous</p>
<div class="row">
  <div class="col-xs-3" class ="contactmember"><%= image_tag('contactmember.jpg') %><p>Bob l'éponge</p></div>
   <div class="col-xs-3" class ="contactmember"><%= image_tag('contactmember.jpg') %><p>Bob l'éponge</p></div>  <div class="col-xs-3" class ="contactmember"><%= image_tag('contactmember.jpg') %><p>Bob l'éponge</p></div>
   <div class="col-xs-3" class ="contactmember"><%= image_tag('contactmember.jpg') %><p>Bob l'éponge</p></div>
</div>
