<div class="container">
	<div class="row text-center">
		<div class="col-md-12">
			<h1>Pour nous contacter</h1>
			<p class="decouvrez_l_equipe">Découvrez l'équipe derrière ce site et échangez avec nous &#128587;</span></p>
		</div>
	</div>
	<div class="row text-center">
	   <div class="col-md-3 lior"><%= image_tag('Photo_Lior.png', size: '290x300') %><p class="prenom">Lior</p></div>
	   <div class="col-md-3 lizzie"><%= image_tag('Photo_Lizzie.png', size: '270x300') %><p class="prenom">Lizzie</p></div>  
	   <div class="col-md-3 yasmine"><%= image_tag('Photo_Yasmine.png', size: '280x300') %><p class="prenom">Yasmine</p></div>
	   <div class="col-md-3 mikhail"><%= image_tag('Photo_Mikhaïl.png', size: '250x300') %><p class="prenom">Mikhaïl</p></div>
	</div>
</div>