<div class="container_page_faq">

<h1>Questions fréquentes</h1>

<h2 class="titles_faq"><i>JE SUIS UN HÔTE / SPECTATEUR...</i></h2>

<h4 class="question_tags">En quelques mots, cela marche comment ?</h4>
<p>Un concert type s'organise de la manière suivante :<br />
- Vous <b>trouvez</b> un groupe qui vous plait et le contactez.<br />
- Vous <b>échangez</b> pour valider les conditions (forfait ou chapeau, adaptation de votre appartement à leurs contraintes…) et fixez une date définitive.<br />
- Vous <b>réglez</b> le montant de la mise en relation + de l'éventuel forfait du groupe.<br />
- Vous <b>invitez</b> vos amis à la soirée en leur expliquant le principe (et en leur recommandant d'apporter un peu de monnaie si c'est au chapeau ;)<br />
- Vous <b>accueillez le groupe</b> au minimum une heure avant l'arrivée de vos invités pour leur permettre de bien s'installer, faire connaissance…<br />
- Vous <b>accueillez vos invités</b>, leur ré-expliquez le principe… et profitez de votre soirée !</p>

<h4 class="question_tags">Qui est l'organisateur ?</h4>
<p>C'est vous ! :D<br />
Le site concert en appart se charge uniquement de la mise en relation entre les groupes et vous, et sert de tiers de confiance pour le paiement éventuel du forfait au groupe.</p>

<h4 class="question_tags">Combien ça coûte ?</h4>
<p>Selon les groupes, deux cas de figure :<br />
- Ils demandent un <b>forfait</b>. Le prix varie donc au cas par cas, mais rarement au dessus de 300€.<br />
- Ils jouent <b>au chapeau</b>. La rémunération du groupe est entièrement assurée par la générosité du public et la vente de leur CD.<br />
A noter que des frais de mise en relation de 15€ sont à ajouter.</p>

<h4 class="question_tags">Comment je paye ?</h4>
<p><b>Pour les groupes au forfait</b> :<br />
le groupe peut voir ça directement avec vous, ou peut vous proposer de passer via le site pour payer le montant de sa prestation. En passant via plate-forme de payement XY, prestataire de paiement proposé par le site Art Street Home, l'argent sera alors bloqué sur un compte spécial. Il ne sera versé à l'artiste qu'à l'issue du concert en appartement, si celui-ci a bien eu lieu (vous serez remboursé du montant du forfait dans le cas contraire).<br />
<b>Pour les groupes au chapeau</b> :<br />
vous payez uniquement les frais de mise en relation.</p>

<h4 class="question_tags">Quelles sont les obligations légales liées à l'organisation d'une prestation Art Street Home ?</h4>
<p>Il existe un certain nombre d'obligations liées à la contractualisation avec un groupe : s'assurer que le groupe est bien déclaré (structure ad hoc ou déclaration au GUSO), déclaration auprès de la SACEM, etc. Vous trouverez plus d'informations ici...</p>

<h4 class="question_tags">Que se passe-t-il en cas d'annulation de l'artiste ou du groupe ?</h4>
<p>En cas d'annulation du groupe, vous êtes remboursé de l'éventuel forfait que vous aviez défini avec le groupe, si vous avez payé via le site. Dans le cas contraire il faudra demander le remboursement au groupe directement.<br />
! <i>Les frais de mise en relation restent dûs.</i><br />
NB : en cas d'annulation intempestive, les groupes seront exclus du site et n'ont donc aucun intérêt à le faire.</p>

<h4 class="question_tags">Comment être sûr que l'artiste/le groupe est fiable ?</h4>
<p>Deux manières de l'être :<br />
- Lisez <b>les références de l'artiste</b>/du groupe, s'il en a : un bon moyen de connaître les avis des hôtes précédents !<br />
- Si vous payez au moment de booker, l'artiste/le groupe ne reçoit l'argent qu'après le concert. L'assurance qu'il soit bien là !</p>

<h4 class="question_tags">C'est tout petit chez moi, vous croyez vraiment que c'est jouable ?</h4>
<p>Il y a déjà eu des concerts en appartement avec plus de 20 invités dans un salon de 15m2…<br />
Alors la taille importe peu si vous aimez la proximité !</p>

<h4 class="question_tags">Le chapeau, ça veut dire que le spectacle est gratuit ?</h4>
<p>Pas vraiment.<br />
Si le groupe ne vous impose pas de forfait, il ne vient pas pour autant jouer pour vos beaux yeux. Les dons en fin de concert sont donc vraiment importants !<br /> N'oubliez pas que <b>ces groupes essayent de vivre de leur musique</b>, et que le chapeau est un moyen pour eux de poursuivre leur projet musical.<br />
Un bon hôte avertira ses invités du fonctionnement d'un concert au préalable et les invitera a venir avec quelques billets et pièces dans leur porte monnaie ;)</p>

<h4 class="question_tags">Qui gère le matos et l'installation ?</h4>
<p>Pour l'équipement (sonorisation, etc.) c'est le groupe qui s'en charge, sauf mention contraire de leur part.<br />
Certains groupes peuvent avoir besoin d'éléments spécifiques (un piano… un nombre de prises…) : ils l'indiquent normalement sur leur page, mais demandez-leur quand même !<br />
C'est le groupe qui gère son installation, mais prévoyez d'être présent au moins une heure avant le début du concert à domicile (ou l'arrivée de vos amis) pour leur laisser le temps de s'installer, de faire leur balance, etc.</p>


<h2 class="titles_faq">JE SUIS UN ARTISTE</h2>

<h4 class="question_tags">Qui gère l'organisation, le choix de la date et le matos ?</h4>
<p>C'est vous... et l'hôte !<br />
Art Street Home est juste l'outil qui vous permet de rencontrer votre public. A vous d'organiser votre concert comme vous l'entendez !</p>

<h4 class="question_tags">Quelle va être ma rémunération?</h4>
<p>C'est vous qui la définissez!<br />
Vous pouvez choisir entre le chapeau (les invités donnent ce qu'ils veulent à la fin du concert) ou le forfait (c'est l'organisateur de la soirée qui vous paye directement un prix fixé à l'avance).<br />
Les deux formules ont des avantages et des limites, à vous de choisir celle que vous préférez !<br />
Pour rappel, une déclaration finale au GUSO reste obligatoire afin de respecter la législation actuelle.</p>

<h4 class="question_tags">Comment fonctionne le paiement via le site ?</h4>
<p>Si vous le souhaitez, vous pouvez demander à l'hôte de vous payer via le site. L'hôte paye ce que vous avez convenu, et l'argent est placé sur un compte séquestre (moins la commission du site, actuellement de 15€). Vous êtes donc sûr que l'hôte a bien payé, mais vous ne toucherez l'argent qu'à l'issue du concert.<br />
Quelques jours après le concert, vous recevrez un email vous informant que l'argent a été mis à disposition sur votre compte Art Street Home. Il vous suffira alors de le virer vers le compte bancaire de votre choix, depuis votre espace de gestion.<br />
Pour rappel, une déclaration finale au GUSO reste obligatoire afin de respecter la législationa actuelle. Le paiement via le site est donc surtout adapté si vous appartenez à une structure (producteur, association) capables de vous déclarer au préalable avant de facturer à l'hôte.</p>

<h4 class="question_tags">Puis-je combiner forfait et chapeau ?</h4>
<p>Oui, si l'hôte est d'accord et clairement averti.<br />
Il faudra alors vous déclarer en "forfait" sur le site Art Street Home, de manière à pouvoir faire réaliser le paiement depuis le site et être certain de sa réalisation. Vous ferez tourner le chapeau lors de votre soirée de manière transparente.</p>

<h4 class="question_tags">Comment trouver des hôtes / spectateurs pour jouer chez eux ?</h4>
<p>Avec une fiche remplie et un bon nombre de références, vous devriez être visible et rassurant.
Faites aussi connaître le site autour de vous pour inciter les gens à vous inviter chez eux !</p>

<h4 class="question_tags">Comment être sûr qu'un hôte est sérieux ?</h4>
<p>Plusieurs moyens :<br />
- S'il a des <b>références</b>, lisez-les ! Un très bon moyen de savoir comment se sont passé les concerts précédents dans son domicile.<br />
- Dans tous les cas : soyez très clairs lors de vos premiers échanges : A quelle heure vous devez arriver, comment est configuré l'appartement, combien d'invités seront là, comment se déroule la soirée... Autant de manière de bien cadrer le concert et de s'assurer qu'il se déroulera dans de bonnes conditions.</p>

</div>
