<h1>Questions fréquentes</h1>

<h2>VOUS ÊTES UN HÔTE / SPECTATEUR ?</h2>

<p>En quelques mots, cela marche comment ?<p>

<p>Qui est l'organisateur ?</p>

<p>Combien ça coûte ?</p>

<p>Comment je paye ?</p>

<p>Quelles sont les obligations légales liées à l'organisation  ?</p>

<p>Que se passe-t-il en cas d'annulation de la de l'artiste?</p>

<p>Comment être sûr que l'artiste est fiable ?</p>

<p>C'est tout petit chez moi, vous croyez vraiment que c'est jouable ?</p>

<p>Le chapeau, ça veut dire que le spectacle est gratuit ?</p>

<p>Qui gère le matos et l'installation ?</p>



<h2>VOUS ÊTES UN ARTISTE ?</h2>

<p>Qui gère l'organisation, le choix de la date et le matos ?</p>

<p>Quelle va etre ma rémunération?</p>

<p>Comment fonctionne le paiement via le site ?</p>

<p>Puis-je combiner forfait et chapeau ?</p>

<p>Comment trouver des client pour jouer chez eux ?</p>

<p>Comment être sûr qu'un hôte est sérieux ?</p>

