<div class = 'container'>
  <div class = 'row'>
    <div class= 'col-md-12'>
      <h1 class = 'artUserH1'>Vous voulez se connecter comme un Artiste ou User?</h1>
    </div>
    <div class = 'col-md-offset-3 col-md-6 artUseBtnDiv'>
      <%= link_to 'ARTISTE' ,new_artiste_session_path, class: 'btn btn-primary artUseBtn' %>
    </div>
    <div class = 'col-md-offset-3 col-md-6 artUseBtnDiv'>
      <%= link_to 'USER' ,new_user_session_path, class: 'btn btn-primary artUseBtn' %>
    </div>
  </div>
</div>
