.navbar-default{
	margin: 0px !important;
}

.container-fluid{
  height: 0px;
}
.navbarUser{
	text-decoration: none !important;
	text-align: center;
	border-right: 1px ridge #e7e7e7;
  padding: 1%;

}
#navbarUser{
  background-color: blue;
  color: black;
}

#navbarArtiste{
  background-color: red;
  color: black;
}

.cl{
  margin: auto;
}
