// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


title {
	text-align: center;
}

h1{
	text-align:center;
   	width: 100%;
   	background-color: transparent;
}

.carousel-inner{
	height: 400px;
	min-height: 400px;
	background-position: 50% 20%;
}

.item{
background-size: cover;
width:100%;
position:relative;
	
}


main{
	padding: 20px;
}
