// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home{
	margin-top: -120px;
}

.home .title {
	text-align: center;
}

.home .carousel-caption h1{
	text-align:center;
   	width: 100%;
   	background-color: transparent;
   	margin-bottom: 270px;
}

.home .carousel-inner{
	height: 400px;
	min-height: 400px;
	background-position: 50% 20%;
}

.home .item{
background-size: cover;
width:100%;
position:relative;
	
}

.home .home_concept{
	height: 100px;
	color: white;
	background-color: black;
	margin: auto;
	text-align: center;
	padding: 20px 20px 40px 20px;

}

.home .home_searchbox{
	height: 100px;
	color: white;
	background-color: black;
	margin: auto;
	text-align: center;
	padding: 20px 20px 40px 20px;
}

.home .home_searchbox .searchbox_field{
    display: inline-block;
    margin-right: 10px;
}

.searchbox_field #choix, .searchbox_field #region {
    padding: 12px;
    width: 290px;
    color: #202020;
    font-size: 17px;
}

.home .home_prestations{
	background-color: yellow;
	margin: auto;
	height: 300px;
	padding: 20px;
	text-align: center;
}


.home .home_artistes{
	background-color: orange;
	margin: auto;
	height: 300px;
	padding: 20px;
	text-align: center;
}

.home .home_recommandations{
	background-color: green;
	margin: auto;
	height: 300px;
	padding: 20px;
	text-align: center;
}
