// Place all the styles related to the Prestations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* NEW */

.new_prestation{
	margin: auto;

}

.new_prestation .field{
	width: 50%;
	margin:auto;
	padding-bottom: 15px;
	color: black;
}

/* INDEX */

.index_prestation{
	margin: auto;
}

.index_prestation .titre{
	margin: auto;
	text-align: center;
}

.index_prestation .index{
	margin: auto;
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	align-content: space-around;

}

.index_prestation .index a{
	color:white;
	text-decoration: none;
}

.index_prestation .index .prestation_each{
	margin: 10px;
	padding-bottom: 20px;
	text-align: center;
	border: 1px groove grey;
	background-color: black;
	color: white;
}

.index_prestation .index .prestation_each .caption{
	padding-top: 10px;
}


/* SHOW */

.show_prestation{
	margin: auto;
	text-align: center;
}

.show_prestation .titre{
	margin: auto;
	text-align: center;
}

.show_prestation img{
	margin: 10px;
	width: 500px;
	padding-top: 20px;
	}

.show_prestation .caption{
	margin: 10px;
	text-align: center;
	padding: 30px;
	word-wrap: break-word
}

.show_prestation .show_prestation_item{
	background-color: black;
	color: white;
	margin: 30px;
}

