// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

main {
	margin: 0px;
}

.decouvrez_l_equipe, .pitch_concept {
	font-size: 18px;
}

.container_page_concept {
	background-color: white;
	font-size: 14px;
	margin: 20px;

}


.box_procedure {
	border: 1px solid grey;
	box-shadow: 2px 2px 0px #aaa; 
	margin: 5px;
	padding: 10px;
	height: 500px;
	}


.element_concept {
	height: 230px;
	width: 300px;
	border: 1px solid grey;
	margin: 10px;
	padding: 10px;

	box-shadow: 2px 2px 0px #aaa;
	background-color: rgb(45,146,109);
	color: rgb(198,246,216);

	box-shadow: 2px 2px 0px #aaa;
	background-color: purple;

	color: white;
	width: 600px;
}

.title_concept {
	text-align: center;
}

.text_element_concept {
	font-size: 16px;
}

.prenom {
	font-size:18px;
	font-weight: bold;
	font-family: Calibri;
}

.container_page_faq {
	font-size: 16px;
	margin: 20px;
}

.questions_fréquentes {
	font-size: 24px;
	color: #662E1C;
}

.titles_faq {
	font-size: 22px;
	font-style: italic;
	color: #662E1C;
}

.question_tags {
	color: #805A3B;
}

.container_page_blog {
	background-image: url("guitariste.jpg");
	color: #b2dbd5;
}

.pitch_blog {
	font-size: 16px;
}

.container_page_blog a {
	color: white;
}

.artUseBtn{
	width: 100%;
	padding-bottom: 5%;
	height: 50px !important;
	font-size: 30px !important;
	color: white !important;
	text-decoration: none !important;
}

.artUserH1{
	margin-bottom: 6%;
	text-align:center;
	font-size: 40px;
}


.artUseBtnDiv{
	margin-bottom: 5%;
}
