<footer>
	<ul>
		<li><a href='/static_pages/contact'>Nous contacter</a></li>
		<li><a href='/static_pages/faq'>F.A.Q.</a></li>
		<li><a href='/static_pages/blog'>Le blog</a></li>
		<li><a href='/static_pages/cgv'>C.G.V.</a></li>
	</ul>

<p>"Un site créé en une petite semaine par l'équipe Code Lanta"</p>

</footer>